* {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(240, 246, 248);

}

.pad {
    padding: 5%;
}

.thanks {
    color: black;
    padding: 7rem;
    background-color: rgb(226, 67, 67);
    border-radius: .5%;
}

img {
    border-radius: 2%;
}

.about {
    margin-left: 5%;
    padding: 1%;

}

download {
    margin: 20rem;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: rgb(129, 218, 185);
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }